@font-face {
    font-family: 'GameFreak';
    src: url('/fonts/game-freak-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pokemon';
    src: url('/fonts/pokemon-ds-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#battle-screen {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/* Battle log container */
.battle-log {
    width: 15vw;
    height: 60vh;
    background-color: #000000bb;
    color: white;
    border-radius: 10px;
    border: 10px solid #5c8a53;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    overflow-y: auto;
    font-family: 'Pokemon';
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}

.battle-log::-webkit-scrollbar {
    display: none;
}

.battle-log-title {
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    position: sticky;
    top: 0;
    background-color: #0c1a13;
    z-index: 1;
    padding: 13px 10px;
    margin-top: auto;
}

/* Lista dos eventos de batalha */
#log-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    padding: 0 10px;
}

/* Estilizando os itens do log */
#log-list li {
    margin-bottom: 10px;
    font-size: 1em;
}

.backscene {
    background-image: url('/images/fundo.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 10px solid #5c8a53;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    height: 60vh;
    width: 50vw;
    margin: 0 auto;
    z-index: 3;
}


.battle-names-row {
    background-color: #000000bb;
    padding: 10px 100px;
    margin: 0 auto;
}

.player-name {
    color: #ffffff;
    font-size: 2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.battle-tittle {
    color: #e29300;
    font-size: 2em;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    margin: 0 100px;
}

.enemy-name {
    color: #ffffff;
    font-size: 2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.player-pokemon-info,
.enemy-pokemon-info {
    width: 70%;
    padding: 5%;
}

.player-pokemon-info {
    margin-left: 30%;
}

.player-pokemon-name {
    color: #ffffff;
    text-shadow: #000000 2px 2px 2px;
    font-size: 2em;
    text-align: end;
}

.enemy-pokemon-name {
    color: #ffffff;
    text-shadow: #000000 2px 2px 2px;
    font-size: 2em;
    text-align: start;
}

.player-pokemon-hp,
.enemy-pokemon-hp {
    background-color: #333;
    border: 2px solid #000;
    width: 100%;
    height: 25px;
    position: relative;
}

.player-pokemon-hp-bar,
.enemy-pokemon-hp-bar {
    background-color: #ca3737;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Texto dos HP */
.player-pokemon-hp-text,
.enemy-pokemon-hp-text {
    color: #ffffff;
    text-shadow: #000000 2px 2px 2px;
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}

.player-pokemon-image,
.enemy-pokemon-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.enemy-pokemon-image {
    margin-top: 10%;
}

.player-pokemon-image {
    margin-right: 20%;
}

/* Efeito de dano */
.flash-damage {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    filter: invert(16%) sepia(57%) saturate(5303%) hue-rotate(345deg) brightness(93%) contrast(93%);
    opacity: 0.5;
    pointer-events: none;
}

.fight-row {
    width: 100%;
    margin: auto;
}

.fight-button {
    width: 100%;
    height: 100%;
}

#fight-btn {
    background-color: #e29300;
    color: #fff;
    font-size: 3em;
    text-shadow: #000000 2px 2px 2px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    cursor: pointer;
    margin: 0 auto;
}

.move-btn {
    width: 100%;
    height: 50px;
    background-color: #e29300;
    color: #fff;
    font-size: 16px;
    text-shadow: #000000 2px 2px 2px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}