.choose-stuff {
    padding: 130px 0;
}

.choose-tittle {
    color: #ffffff;
    font-size: 4em;
    margin-bottom: 40px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.pokemon-options {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 50px;
    justify-content: center;
}

.pokemon-card {
    background-color: #eeeeee;
    border: 10px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-image {
    width: auto;
    height: 100px;
    margin: auto;
}

.pokemon-name {
    font-size: 2em;
    margin: auto;
    text-transform: uppercase;
}

.pokemon-number {
    font-size: 1.5em;
    margin: auto;
}

.move-options {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 50px;
    justify-content: center;
}

.move-card {
    background-color: #eeeeee;
    border: 10px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.move-card:hover {
    transform: scale(1.05);
}

.selected {
    background-color: #686868;
}

#start-battle-btn {
    margin-top: 50px;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    padding: 10px 50px;
    border: 5px solid #272727;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsividade */

/* Para telas com largura menor que 900px (tablets) */
@media (max-width: 1200px) {
    .pokemon-options {
        grid-template-columns: repeat(2, 300px);
        gap: 30px;
    }

    .move-options {
        grid-template-columns: repeat(2, 250px);
        gap: 30px;
    }

    .choose-tittle {
        font-size: 3em;
        margin-bottom: 40px;
    }

    .pokemon-card,
    .move-card {
        padding: 15px;
    }
}

/* Para telas com largura menor que 600px (smartphones) */
@media (max-width: 768px) {
    .pokemon-options {
        grid-template-columns: 300px;
        gap: 20px;
    }

    .move-options {
        grid-template-columns: 250px;
        gap: 20px;
    }

    .choose-tittle {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .pokemon-card,
    .move-card {
        padding: 10px;
        border: 5px solid #ccc;
    }

    .pokemon-name,
    .pokemon-number,
    .move-name,
    .move-power {
        font-size: 1.2em;
    }

    #start-battle-btn {
        font-size: 1.5em;
        padding: 8px 30px;
    }
}