@font-face {
    font-family: 'GameFreak';
    src: url('/fonts/game-freak-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pokemon';
    src: url('/fonts/pokemon-ds-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pokemon', sans-serif;
    background-color: #2d4d3d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    display: none;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    width: 100px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

h1,
h2 {
    color: #333;
}